# Database URL (SQLite default for local dev, PostgreSQL for production)
DATABASE_URL="file:./dev.db"

# Admin PIN for login
ADMIN_PIN="1337"

# Session Secret Key
SESSION_SECRET="fragx-super-secret-key-2026-bgmi"
